@import '../../../styles/colors.css';

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-800);
}

.input {
  padding: 8px 12px;
  border: 1px solid var(--neutral-500);
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.2s ease;
  width: 178px;
  height: 32px;
  box-sizing: border-box;
}

.input:hover {
  border-color: var(--neutral-400);
}

.input:focus {
  outline: none;
  border-width: 3px;
  border-color: var(--primary-600);
  box-shadow: 0 0 0 2px var(--primary-600-10);
}

.input:disabled {
  background-color: var(--neutral-100);
  cursor: not-allowed;
}

.error {
  color: var(--error-600);
  font-size: 12px;
  margin-top: 4px;
}

/* Invalid state styling */
.input:invalid {
  border-color: var(--error-600);
}

.input:invalid:focus {
  border-color: var(--error-600);
  box-shadow: 0 0 0 2px var(--error-600-10);
  /* Keep error state red even when focused */
}

/* Styling for input when used in NumberInput */
.numberInputStyle {
  width: 64px !important;
  height: 22px !important;
  text-align: center;
  background-color: var(--bg-transparent) !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-weight: 500;
}
